<div id="alertMsg" class="container-fluid my-0 py-0 px-0 mx-0 my-0 ">
    <!-- Checking error -->
    <% if(error && error.length > 0){ %>
    <script>alertJS();</script>
    <div class="alert alert-danger text-center my-0 font-weight-bold" role="alert">
        <%= error %>
    </div>
    <% } %>
    <!-- Checking Success -->
    <% if(success && success.length > 0){ %>
    <script>alertJS();</script>
    <div class="alert alert-success text-center  my-0 font-weight-bold" role="alert">
        <%= success %>
    </div>
    <% } %>
    <% if(secondary && secondary.length > 0){ %>
    <div class="alert alert-secondary text-center  my-0 font-weight-bold" role="alert">
        <%= secondary %>
    </div>
    <% } %>
</div>