<section id="footer">
    <div class="card mt-5">
        <div class="card-header text-center">
            LetsBuyShoes.com
        </div>
        <div class="card-body">
            <p class="text-center">
                <a href="https://www.facebook.com/marufmonem.anik" class="contactLinks"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/maruf_monem_anik/" class="contactLinks"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/marufmonemanik" class="contactLinks"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="mailto: maruf.monem@g.bracu.ac.bd?cc=marufmonem@google.com" class="contactLinks"><i
                        class="far fa-envelope"></i></a>

            </p>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>