<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <title>PothoRekha</title>
</head>

<body>

    <!-- navbar -->
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">Pothorekha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Men</a>
                            <a class="dropdown-item" href="#">Women</a>
                            <a class="dropdown-item" href="#">Unisex</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Browse All</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>

                <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->

            </div>
        </nav>

        <!-- Header image -->
    </section>

    <section id="header">
        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="container">
                <h1 class="display-4 text-center">Pothorekha</h1>
                <p class="lead text-center">This is a modified jumbotron that occupies the entire horizontal space of
                    its parent.</p>
            </div>
        </div>
    </section>

    <!-- sub header quote -->
    <section id="subHeader">
        <div class="container">
            <blockquote class="blockquote text-center py-5">
                <p class="mb-0">You can have anything you want in life if you dress for it.</p>
                <footer class="blockquote-footer text-right"><cite title="Source Title">Edith Head</cite></footer>
            </blockquote>
        </div>

    </section>

    <!-- one section of clothes -->
    <section id="item">
        <div id="men" class="container">
            <button class="btn btn-sm btn-outline-dark mt-3">Explore More</button>
            <h1>Men shoes</h1>
            <hr>
            <div class="row pt-3 justify-content-center">
                
                <div class="col-12 col-md-6 col-lg-4 py-2">
                    <div class="card mx-auto" style="width: 18.7rem;">
                        <a href=""><img class="card-img-top" src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1317&q=80" alt="Card image cap"></a>
                        
                        <div class="card-body">
                            <p id="itemTitle" class="text-center">Black and white Charm</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 py-2">
                    <div class="card mx-auto" style="width: 18.7rem;">
                        <a href=""><img class="card-img-top" src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1317&q=80" alt="Card image cap"></a>
                        
                        <div class="card-body">
                            <p id="itemTitle" class="text-center">Black and white Charm</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 py-2">
                    <div class="card mx-auto" style="width: 18.7rem;">
                        <a href=""><img class="card-img-top" src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1317&q=80" alt="Card image cap"></a>
                        
                        <div class="card-body">
                            <p id="itemTitle" class="text-center">Black and white Charm</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

            
              

        </div>
    </section>




    <section id="item">
        <div id="women" class="container pt-4">
            <button class="btn btn-sm btn-outline-dark mt-3">Explore More</button>
            <h1>Women shoes</h1>
            <hr>
            <div class="row pt-3">
                
                <div class="col-12 col-md-6 col-lg-4 py-2">
                    <div class="card mx-auto" style="width: 18.7rem;">
                        <a href=""><img class="card-img-top" src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1317&q=80" alt="Card image cap"></a>
                        
                        <div class="card-body">
                            <p id="itemTitle" class="text-center">Black and white Charm</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 py-2">
                    <div class="card mx-auto" style="width: 18.7rem;">
                        <a href=""><img class="card-img-top" src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1317&q=80" alt="Card image cap"></a>
                        
                        <div class="card-body">
                            <p id="itemTitle" class="text-center">Black and white Charm</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 py-2">
                    <div class="card mx-auto" style="width: 18.7rem;">
                        <a href=""><img class="card-img-top" src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1317&q=80" alt="Card image cap"></a>
                        
                        <div class="card-body">
                            <p id="itemTitle" class="text-center">Black and white Charm</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="footer">
        <div class="card mt-5">
            <div class="card-header text-center">
              Pothorekha.com
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </section>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>