#header p{
    font-size: 2rem;
    letter-spacing: 10px;
    background-color: #6b0504;
    color: #fbfffe;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#sideBar{
    border-left: 3px solid #6b0504;
}

/* #divison div{
    border: 1px solid black;
} */

#inventory{
    border-right:2px solid  #c5c5c5;
}
 h2{
    background-color: #6b0504;
    padding: 5px;
    color: whitesmoke;
    letter-spacing: ;
}

#footer i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #001514;
}

#footer i:hover{
    color: #d43d0b;
    transition: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}