html{
    width: 100%;
}
#header p{
    font-size: 2rem;
    letter-spacing: 10px;
    background-color: #6b0504;
    color: #fbfffe;
}

#listButton div #button{
    /* border: 10px solid whitesmoke; */
    background-color: #e6af2e;
    border-radius: 8px;
    width: 60%;
    text-align: center;
    color: whitesmoke;
}

#listButton div a{
    display: block;
    color: #6b0504;
    font-size: 1.3rem;
    letter-spacing: 10px;
    font-weight: 600;
}
/* #listButton div #button:hover{
    border: 2px solid #6b0504;
} */

#listButton div a:hover{
    
    letter-spacing: 3px;
    color: #001516;
    font-size: 1.3rem;
    font-weight: 700;
}

h2{
    color: #6b0504;

}
.collapse h2{
    color: #6b0504;
}

.collapse h2{
    border: 2px solid #6b0504;
    transition: 200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}


.collapse h2{
    background-color: #6b0504;
    color: #fbfffe;
    transition: 600ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
table{
    font-size: 1.3rem;
    
}

.table-hover tbody tr:hover{
    background-color: #fdc13557;
}
