/* color pallete : https://coolors.co/437c90-255957-eeebd3-a98743-f7c548 */
/* https://coolors.co/001514-fbfffe-6b0504-a3320b-e6af2e */
body{
    background-color: #fbfffe;
}
nav{
    background-color:#001514 ;
    color: #fbfffe;
}
#header .jumbotron{
    background-image: url(https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    color: white;
    display: flex;
    align-items: center;
}


#subHeader{
    background-color: #A3320B;
    color: #fbfffe;
}

cite{
    color: whitesmoke;
}
#item #men h1{
    color: #001514;
}

#item #women h1{
    color: #A3320B;
}
#itemTitle{
    font-size: 1.2rem;
    font-weight: 500;
}

#item a {
    float: right;
}

#men a:hover{
    background-color: #001514;
}

#women a:hover{
    background-color: #A3320B;
    border: white;
}

#item #men .card:hover{
    border: 3px solid #001514;
    background-color: #001514;
    color: white;
    transition: 400ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    
}

#item #women .card:hover{
    border: 3px solid #A3320B;
    background-color: #A3320B;
    color: white;
    transition: 400ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    
}



#footer .card{
    background-color: #001514;
    color: #fbfffe;
}

#footer i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #fbfffe;
}

#footer i:hover{
    color: #d43d0b;
    transition: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}