body{
    background-color: #fbfffe;
}
#header p{
    font-size: 2rem;
    letter-spacing: 10px;
    background-color: #e6af2e;
    color: #fbfffe;
}
.fadeOutAlert{
    display: none;
    transition:display 3s;
}
form #submit {
    background-color: #f3b82d;
    color: #001514;
}

form .btn:hover{
    border: 2px solid #A3320B;
}

#uid:valid {
    color: rgb(0, 182, 0);
}
#uid:invalid {
    color: rgb(209, 16, 16);
}

#loginFooter footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .card{
    background-color: transparent;
}

footer .card .card-header{
    background-color: transparent;
}


footer i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #001514;
}

footer i:hover{
    color: #d43d0b;
    transition: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}