body{
    width: 100%;
}
nav{
    background-color:#001514 ;
    color: #fbfffe;
}

.fadeOutAlert{
    display: none;
    transition:display 4s;
    transition-timing-function: ease-in-out;
}

#cartButton{
    background-color:transparent;
    color: #d43d0b;
}

.modal-content{
    background-color: #001514;
    color: #fbfffe;
}


.modal-content table{
    color: #fbfffe;
    padding-left: 5px;
    padding-right: 5px;
}

.modal-content a{
    color: #fbfffe;
}
.modal-header button{
    color:#d43d0b;
}
    
table tbody tr:hover{
    background-color: #fbfffe;
    color: #001514;
}


#productDetails .row{
    background-color:#001514 ;
    color: #fbfffe;
}

#header .jumbotron{
    background-color:#001514 ;
    color: #fbfffe;
    font-size: 1.5rem;
    letter-spacing: 10px;
}
#divPrice p{
    border: 1px solid #d43d0b;
    border-radius: 15px;
    /* background-color: #d43d0b; */
    color: #fbfffe;
    font-size: 1.3rem;
}
#divPrice p:hover{
    background-color: #d43d0b;
}
#products .card:hover{
    border: 3px solid #001514;
    background-color: #001514;
    color: white;
    transition: 400ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    
}



#footer .card{
    background-color: #001514;
    color: #fbfffe;
}

#footer i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #fbfffe;
}

#footer i:hover{
    color: #d43d0b;
    transition: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}