body{
    width: 100%;
}
nav{
    background-color:#A3320B ;
    color: #fbfffe;
}

#productDetails .row{
    background-color:#A3320B ;
    color: #fbfffe;
}
#divPrice p{
    border: 1px solid #001514;
    border-radius: 15px;
    color: #fbfffe;
    font-size: 1.3rem;
}
#divPrice p:hover{
    background-color: #001514;
}

#header .jumbotron{
    background-color:#A3320B ;
    color: #fbfffe;
    font-size: 1.5rem;
    letter-spacing: 10px;
}
#products .card:hover{
    border: 3px solid #A3320B;
    background-color: #A3320B;
    color: white;
    transition: 400ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    
}



#footer .card{
    background-color: #A3320B;
    color: #fbfffe;
}

#footer i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #fbfffe;
}

#footer i:hover{
    color: #001514;
    transition: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}