/* https://coolors.co/001514-fbfffe-6b0504-a3320b-e6af2e */
html{
    width: 100%;
}
nav{
    background-color:#A3320B ;
    color: #fbfffe;
}
ul .dropdown-menu .active{
    background-color: #A3320B;
    color: #fbfffe ;
}

.fadeOutAlert{
    display: none;
    transition:display 4s;
    transition-timing-function: ease-in-out;
}

#headTitle{
    background-color: #A3320B;
    color: #fbfffe ;
}

#cartButton{
    background-color:transparent;
    color: #fbfffe;
}


.modal-content{
    background-color: #6B0504;
    color: #fbfffe;
}


.modal-content table{
    color: #fbfffe;
    padding-left: 5px;
    padding-right: 5px;
}

.modal-content a{
    color: #fbfffe;
}
.modal-header button{
    color:#fbfffe;
}
    
table tbody tr:hover{
    background-color: #fbfffe;
    color: #001514;
}


#header .jumbotron{
    background-color: #A3320B;
    color: #fbfffe ;
    height: 9rem;
}
#header blockquote{
    font-size: 1.5rem;
}

#header footer{
    font-size: 1rem;
    color: whitesmoke;
}

#products .card:hover{
    border: 3px solid #A3320B;
    background-color: #A3320B;
    color: white;
    transition: 400ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    
}


#footer .card{
    background-color: #A3320B;
    color: #fbfffe;
}

#footer i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #fbfffe;
}

#footer i:hover{
    color: #001514;
    transition: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}