body{
    background-color: #fbfffe;
}
nav{
    background-color:#e6af2e ;
}
.fadeOutAlert{
    display: none;
    transition:display 3s;
}

#header p{
    font-size: 2.5rem;
    background-color: #e6af2e;
    color: #001514;
}
/* #delete{
    display: flex;
} */
/* #pending{
padding-left: 5%;
} */
#cartButton{
    background-color:transparent;
    color: #001514;
}


.modal-content{
    background-color: #fbfffe;
    color: #001514;
}


.modal-content table{
    color: #001514;
    padding-left: 5px;
    padding-right: 5px;
}

.modal-content a{
    color: #fbfffe;
}
.modal-header button{
    color:#fbfffe;
}

table tbody tr{
    color: #000;
}

table tbody tr:hover{
    background-color: #e6af2e;
    color: #001514;
}


.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #e6af2e; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#loginFooter footer{
    position: relative;
    bottom: -300px;
    width: 100%;
}

footer .card{
    background-color: transparent;
}

footer .card .card-header{
    background-color: transparent;
}


#loginFooter i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #001514;
}

#loginFooter i:hover{
    color: #d43d0b;
    transition: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}