body{
    background-color: #fbfffe;
}
nav{
    background-color:#e6af2e ;
}

#header p{
    font-size: 2.5rem;
    background-color: #e6af2e;
    color: #001514;
}
/* #delete{
    display: flex;
} */

#loginFooter footer{
    position: relative;
    bottom: -300px;
    width: 100%;
}

footer .card{
    background-color: transparent;
}

footer .card .card-header{
    background-color: transparent;
}


#loginFooter i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #001514;
}

#loginFooter i:hover{
    color: #d43d0b;
    transition: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}